a{
   color: inherit; 

} 
a:hover { 
  color:lightgray;
  text-decoration: none;
}
p{
  font-size:20px;
}
.hOnez span{
  font-size:70px;
  font-family: 'Playfair Display', serif;
  color:white;
  
}
.hOnez{
  text-align:center;
  padding-bottom:50px;
  padding-top:230px;
}
.nav-bar{
    padding-top:20px;
    float:right;
    
}
.aboutH{
  font-size:30px;
  font-family: 'Playfair Display', serif;
  color:white;
  text-align:center;
  padding-bottom:50px;
}
img{
  border-radius: 15px;
  border:1px solid;
}
.textB{
  background-color:white;
}

  .textCC{
    font-family: 'Playfair Display', serif;
    color:white;
    

  }
  .iconz{
    text-align:center;
    text-decoration: none !important;
  }
  /* h1{
    padding-bottom:50px;
    
    font-size:130px;
  } */
  .pH{
    font-size:30px;
    font-family: 'Playfair Display', serif;
    color:white;
    text-align:center;
    padding-bottom:50px;
  }
  form{
    color:white;
  }
  .cT{
    font-size:30px;
    font-family: 'Playfair Display', serif;
    color:white;
    text-align:center;
  }
  .logo{
    float:left;
    padding-top:4px;
  }
/* Moving background */

body
{
  width: 95%; 
  height:100%;
  margin:0em 5%;
  background-color:black;
  background-image: url("seam.jpg");
  background-position: center bottom;
  animation: animatedBackground 30s linear infinite;
  /* Safari and Chrome: */
  -webkit-animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
#content
{
  position:fixed;
  top:5em;
  height:1em;
  width:19em;
  background-color:rgba(1,1,1,0.5);
  color:white;
  padding:2em;
  border-bottom-right-radius: 5em;
  -webkit-border-bottom-right-radius: 5em;
   border-top-left-radius: 5em;
  -webkit-border-top-left-radius: 5em;
}